{% extends "base.html" %}
{% block head %}
  {% if refresh < 100 %}
    <meta http-equiv="refresh" content="{{refresh}}">
  {% endif %}
{% endblock %}

{% block title %}{title}{% endblock %}

{% block content %}
	{{ status }}
{% endblock %}